# 编译输出
build/
bin/
lib/

# CMake构建目录
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/

# 编译器生成的文件
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# 依赖管理工具
vendor/

# IDE和编辑器生成的文件
.vscode/
.idea/
*.sln
*.vcxproj
*.xcodeproj
*.swp
*.swo
*.dSYM/